@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: "Roboto Condensed" sans-serif;
}
/******************** Navbar **********************/
.logo{
  width: 12.5rem;
  margin-left: 1.75rem;
  margin-top: 2rem;
}
/****************** Menu Links *********************/
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  margin-right: 12.5rem;
  color: white;
}
nav ul li{
  text-transform: uppercase;
  text-align: center;
}
.navbar-nav > li >a{
  margin-right: .75rem;
  margin-left: .75rem;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 10 !important;
  height: 6rem !important;
}
@media(max-width:768px){
  .navbar-brand{
    width: 7rem;
  }
}
.navbar-nav >li >a.active, .navbar-nav >li >a:focus{
  border-bottom: .12875rem solid rgb(216, 145, 4);
}
.navbar-nav >li >a:hover{
  border-bottom: .12875rem solid rgb(0, 187, 168);
  color: rgb(174, 172, 172);
}
.hamburger{
  color: white;
  margin-right: 4.688rem;
}
.hamburger:focus{
  outline:none;
}

/****************** Header *********************/

.header-wrapper{
  position: relative;
  background: url(computer2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;

}
.main-info h1{
  color: orange;
  text-transform: uppercase;
  font-weight: 400;
}
/****************** Typed Text *********************/
.typed-text{
  color: white;
  font-size: 2rem;
}

/****************** Header Button *********************/
.btn-main-offer{
  background-color: rgb(0, 187, 168);
  text-transform: uppercase;
  border-radius: 5px;
  padding: .625rem .75rem .75rem .75rem;
  color: white;
  margin-top: 2rem;
  text-decoration: none;
  cursor: pointer;
}
.btn-main-offer:hover{
  background-color: rgba(0, 187, 168, 0.634);
  transition: .2s ease-in-out;
  
}
